.body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid;
}

.nav-links > ul {
    display: flex;
    list-style-type: none;
}

.nav-links > ul > li {
    padding: 10px;
}

.logo {
    width: 80px;
}

.card {
    width: 200px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;   
    height: 200px;
    margin: 10px;
    background-color: lightgray;
}

.menu {
    display: flex;
}